<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Ayurbedic Intelligence</title>
		<!-- Main Template CSS File -->
		<link rel="stylesheet" href="../static/css/LandingPage.css" />
        <link rel="stylesheet" href="../static/css/HomePage.css" />
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&#038;display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<!-- navbar section starts  -->
        <header class="header">
            <div class="logo">
                <img src="../static/images/AI_logo.png" alt="Ayurvedic AI" height="60px" width="60px">
            </div>
    
            <nav class="navbar">
                <a href="#home"> </a>
                <a href="#features"> </a>
                <a href="#about"> </a>
                <a href="#footer"> </a>
                <a href="LoginSignup.html" class="btn">Log out</a>
            </nav>
    
            <div class="fas fa-bars" id="menu-btn"></div>
        </header>
        <!-- navbar section ends  -->
		
		<!-- Start Features -->
		<div class="features">
            <br><br><br> <br><br><br> 
            <h2 class="special-heading">Services</h2>
			 <!-- abouts section starts  -->
             <section class="about" id="about">
               
        
                <div class="box-container">
                    <div class="box">
                        <img src="../static/images/SearchPlant.png" alt="plantdetection" height="180px" width="180px">
                        <h3>Plant Detection</h3>
                        <p> </p>
                        <a href="PlantDetection.html" class="all-btn">Identify Plants</a>
                    </div>
        
                    <div class="box">
                        <img src="../static/images/Yoga&Diet.png" alt="medicine" height="180px" width="180px">
                        <h3>Yoga & Diet</h3>
                        <p> </p>
                        <a href="YogaAndDiet.html" class="all-btn">Try Yoga & Diet</a>
                    </div>
        
                    <div class="box">
                        <img src="../static/images/Sthetesticope.png" alt="doctor" height="180px" width="180px">
                        <h3>Consult a Doctor</h3>
                        <p> </p>
                        <a href="Appointment.html" class="all-btn">Session with Doctor</a>
                    </div>
                </div>
            </section>
		</div>
		<!-- End Features -->
		<!-- Start Footer -->

        <section class="footer" id="footer">
		<div class="credit">Created by <span>Ayurvedic AI Team</span> | All rights reserved</div>
    </section>
		<!-- End Footer -->
	</body>
</html>