<!DOCTYPE html>
<html lang="en">

<!-- doccure/#  30 Nov 2019 04:12:14 GMT -->

<head>
	<meta charset="utf-8">
	<title>Doccure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

	<link rel="stylesheet" href="assets/plugins/dropzone/dropzone.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header">
			<nav class="navbar navbar-expand-lg header-nav">
				<div class="navbar-header">
					<a id="mobile_btn" href="javascript:void(0);">
						<span class="bar-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
					<a href="/homepage" class="navbar-brand logo">

						<img src="assets/img/AI_logo.png" class="img-fluid" alt="Logo" height="60px" width="60px">
					</a>
				</div>
				<div class="main-menu-wrapper">
					<div class="menu-header">
						<a href="/homepage" class="menu-logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
						<a id="menu_close" class="menu-close" href="javascript:void(0);">
							<i class="fas fa-times"></i>
						</a>
					</div>
					<ul class="main-nav">
						<li class="login-link">
							<a href="/login">Login / Signup</a>
						</li>
					</ul>
				</div>
				<nav class="space-x-6 text-gray-700 font-medium">
					<a href="/homepage" class="hover:text-green-600">Home</a>
				</nav>
				<ul class="nav header-navbar-rht">

					<li class="nav-item contact-item">

						<div class="header-contact-img">
							<i class="far fa-hospital"></i>
						</div>
						<div class="header-contact-detail">
							<p class="contact-header">Contact</p>
							<p class="contact-info-header"> +1 315 369 5943</p>
						</div>
					</li>

					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow logged-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
								<img class="rounded-circle" src="{{ url_for('dashboard.uploaded_image', filename=patient.PatientProfilePic) }}
" width="31" alt="patient">
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="{{ url_for('dashboard.uploaded_image', filename=patient.PatientProfilePic) }}
" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>{{ patient.PatientFirstName if patient else '' }}</h6>
									<p class="text-muted mb-0">patient</p>
								</div>
							</div>
							<a class="dropdown-item" href="/dashboard?id={{ patient.PatientUserId }}">Dashboard</a>
							<a class="dropdown-item" href="#">Profile Settings</a>
							<a class="dropdown-item" href="/login">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->

				</ul>
			</nav>
		</header>
		<!-- /Header -->



		<!-- Page Content -->
		<div class="content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

						<!-- Profile Sidebar -->
						<div class="profile-sidebar">
							<div class="widget-profile pro-widget-content">
								<div class="profile-info-widget">
									<a href="#" class="booking-doc-img">
										<img src="{{ url_for('dashboard.uploaded_image', filename=patient.PatientProfilePic) }}
" alt="User Image">
									</a>
									<div class="profile-det-info">
										<h3>{{ patient.PatientFirstName}} {{ patient.PatientLastName}}</h3>

										<div class="patient-details">
											<h5 class="mb-0">{{patient.PatientBio}}</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="dashboard-widget">
								<nav class="dashboard-menu">
									<ul>
										<li class="active">

											<a href="/dashboard?id={{ patient.PatientUserId }}">
												<i class="fas fa-columns"></i>
												<span>Dashboard</span>
											</a>
										</li>
										</li>

										<li>
											<a href="#">
												<i class="fas fa-user-cog"></i>
												<span>Profile Settings</span>
											</a>
										</li>

										<li>
											<a href="/login">
												<i class="fas fa-sign-out-alt"></i>
												<span>Logout</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						<!-- /Profile Sidebar -->

					</div>
					<div class="col-md-7 col-lg-8 col-xl-9">

						<!-- Basic Information -->
						<form action="/submit" method="POST" type="file" enctype="multipart/form-data">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Basic Information</h4>
									<div class="row form-row">
										<div class="col-md-12">
											<div class="form-group">
												<div class="change-avatar">
													<div class="profile-img">
														<img src="{{ url_for('dashboard.uploaded_image', filename=patient.PatientProfilePic) }}
" alt="User Image">
													</div>
													<div class="upload-img">
														<div class="change-photo-btn">
															<span><i class="fa fa-upload"></i> Upload Photo</span>
															<input class="upload" type="file" id="imageUpload"
																name="PatientProfilePic" accept=".jpg, .jpeg"
																onchange="previewProfileImage(event)">
														</div>
														<script>
															function previewProfileImage(event) {
																const input = event.target;
																const preview = document.getElementById('imagePreview');
																const container = document.getElementById('imagePreviewContainer');

																if (input.files && input.files[0]) {
																	const reader = new FileReader();

																	reader.onload = function (e) {
																		preview.src = e.target.result;
																		preview.style.display = 'block';
																	}

																	reader.readAsDataURL(input.files[0]);
																} else {
																	preview.src = '#';
																	preview.style.display = 'none';
																}
															}
														</script>

														<!-- Image Preview Section -->
														<div id="imagePreviewContainer" style="margin-top:10px;">
															<img id="imagePreview" src="#" alt="Image Preview"
																style="display:none; max-width: 200px; height: auto;" />
														</div>

														<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max
															size of 2MB</small>
													</div>
												</div>
											</div>
										</div>
										<input type="hidden" name="PatientUserId"
											value="{{ patient.PatientUserId if patient else 0 }}">

										<div class="col-md-6">
											<div class="form-group">
												<label>Username <span class="text-danger">*</span></label>
												<input name="patientUsename" value="{{ user.Username }}" type="text"
													class="form-control" readonly>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Email <span class="text-danger">*</span></label>
												<input name="patientEmail" type="email" value="{{ user.UserEmail }}"
													type="email" class="form-control" readonly>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>First Name</label>
												<input type="text" class="form-control"
													value="{{ patient.PatientFirstName}}" name="PatientFirstName"
													required>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>Last Name</label>
												<input type="text" class="form-control"
													value="{{ patient.PatientLastName}}" name="PatientLastName"
													required>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>Date of Birth</label>
												<div class="cal-icon">
													<input type="text" name="PatientDOB"
														class="form-control datetimepicker"
														value="{{ patient.PatientDOB}}" required>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>Blood Group</label>
												<input type="text" class="form-control"
													value="{{ patient.PatientBloodGroup}}" name="PatientBloodGroup"
													required>
											</div>
										</div>


										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>Country</label>
												<input type="text" class="form-control"
													value="{{ patient.PatientCountry}}" name="PatientCountry" required>
											</div>
										</div>



										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>Mobile</label>
												<input type="text" name="PatientMobile"
													value="{{ patient.PatientMobile}}" class="form-control" required>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<label>Address</label>
												<input type="text" class="form-control"
													value="{{ patient.PatientAddress}}" name="PatientAddress" required>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>City</label>
												<input type="text" class="form-control"
													value="{{ patient.PatientCity }}" name="PatientCity" required>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>State</label>
												<input type="text" class="form-control"
													value="{{ patient.PatientState}}" name="PatientState" required>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label>Zip Code</label>
												<input type="text" class="form-control"
													value="{{ patient.PatientZipCode}}" name="PatientZipCode" required>
											</div>
										</div>

									</div>

									<div class="submit-section submit-btn-bottom">
										<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
									</div>
						</form>
					</div>
				</div>

			</div>

		</div>
		<!-- /Page Content -->

		<section class="footerDoc mt-10"
			style=" bottom: 0; left: 0; width: 100%; background: #f9f9f9; border-top: 1px solid #d1d5db; padding: 1rem 0; text-align: center; z-index: 1000;">
			<div class="credits text-2xl text-black">
				Created by <span class="text-red-500 cursor-pointer">Ayurvedic AI Team</span> | All rights reserved
			</div>
		</section>

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Select2 JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Dropzone JS -->
	<script src="assets/plugins/dropzone/dropzone.min.js"></script>

	<!-- Bootstrap Tagsinput JS -->
	<script src="assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

	<!-- Profile Settings JS -->
	<script src="assets/js/profile-settings.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

<!-- doccure/#  30 Nov 2019 04:12:15 GMT -->

</html>